{% include 'standard/header.html' %}

<h1 class="page_title">"So tell me about yourself..."</h1><br />

<div class="col-md-8 col-md-offset-2">
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">What does SDN stand for?</h3>
		</div>
		<div class="panel-body">
			<p class="justify_text">I didn't think through the name as much as I should have, but SDN stands for "Software Developers' Network".</p>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">What inspired SDN?</h3>
		</div>
		<div class="panel-body">
			<p class="justify_text">SDN was created when I realized that a huge part of being a Software Developer is working with people. In many cases, rising Developers aren't in a collegiate or hacker community, so this could serve as that environment - find and post cool projects to work on, reach out to other devs, learn how to work on teams, diversify your portfolio and build interesting things.</p>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">What tech does SDN use?</h3>
		</div>
		<div class="panel-body">
			<p class="justify_text">SDN itself was built as a project to learn concepts of complex web applications. It uses:
			<ul>
				<li>Environment: Ubuntu 15.04</li>
				<li>Hosted On: Linode</li>
				<li>Served With: WSGI</li>
				<li>Framework: Flask</li>
				<li>Database: MySQL</li>
				<li>Frontend: Bootstrap</li>
				<li>ORM: SQLAlchemy</li>	
			</ul></p>
		</div>
	</div>

</div>

{% include 'standard/footer.html' %}
