{% include 'standard/header.html' %}


<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<h1 class="page_title">{{ project.title }}</h1>
		<p class="page_title">Created by <a href="/profile?id={{ project.users.id }}">{{ project.users.username }}</a> at {{ project.get_date() }} at {{ project.get_time() }}</p>
		<hr />	
		<div class="well well-lg">
			<span class="justify_text">{{ project.description|safe }}</span>
		</div>
		<hr />
		<h4 class="page_title">Comments</h4>


		{% for comment in project.project_comments|sort(attribute='timestamp') %}
		<div id="{{ comment.id }}" class="panel panel-default">
			<div class="panel-body">
				{{ comment.comment }}
			</div>
			<div class="panel-heading">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>    <a href="/profile?id={{ comment.user.id }}">{{ comment.user.username }}</a> {% if comment.user.id == project.users.id %} <span class="label label-success">OP</span> {% endif %}
				<br />
				<span class="comment_timestamp">{{ comment.get_date() + ", " + comment.get_time() }}</span>
			</div>
		</div>
		{% endfor %}

	<div>
</div>



{% include 'standard/footer.html' %}
