{% include 'standard/header.html' %}

	{% if title is defined %}
	<div class="object_container">
		<div class="object_center">
			<h1>{{ title }}</h1>
		</div>
	</div>
	{% endif %}

	<div class="col-md-4 col-md-offset-4">
		{% if message_content and message_type %}
		<div class="alert alert-{{ message_type }}" role="alert">
		{{ message_content }}	
		</div>
		{% endif %}
		<form method="POST" action="/password">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" name="forgot-password" class="form-control" id="email" placeholder="Email">
			</div>
			<div class="object_container">
				<div class="object_center">
					<button type="submit" class="btn btn-default">Reset Password</button>
				</div>
			</div>
		</form>
	</div>

{% include 'standard/footer.html' %}
