{% include 'standard/header.html' %}

<div class="col-md-8 col-md-offset-2">
	<div class="jumbotron">
		<div class="container">
			<h1 class="page_title">Welcome to SDN!</h1>
			<p class="justify_text">Thanks for visiting SDN. This is a small web application that addresses a simple need for new and rising software developers - collaboration. Use SDN to connect with fellow software developers and build projects together. To learn more about the site (including more about the purpose along with how to use it), visit our "About" page!</p>
			<p class="page_title"><a class="btn btn-primary btn-lg" href="/about" role="button">About</a></p>
		</div>
	</div>
</div>

{% include 'standard/footer.html' %}
