{% include 'standard/header.html' %}

	{% if title is defined %}
	<div class="object_container">
		<div class="object_center">
			<h1>{{ title }}</h1>
		</div>
	</div>
	{% endif %}

	<div class="col-md-4 col-md-offset-4">
		{% if error_message is defined %}
		<div class="alert alert-danger" role="alert">
		{{ error_message }}	
		</div>
		{% endif %}
		<form method="POST" action="/login">
			<div class="form-group">
				<label for="exampleInputEmail1">Username</label>
				<input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
			<div class="object_container">
				<div class="object_center">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
		<br /><br />
		<table class="table table-bordered login-page-register-forgot">
			<tr>
				<td class="col-md-2">New User?</td>
				<td class="col-md-2"><a href="/register">Register</a></td>
			</tr>
			<tr>
				<td class="col-md-2">Forgot Password?</td>
				<td class="col-md-2"><a href="/mail">Reset Password</a></td>
			</tr>
		</table>
	</div>

{% include 'standard/footer.html' %}
