{% include 'standard/header.html' %}

<div style="overflow:hidden" class="col-md-4 col-md-offset-4">
	<form method="POST" action="/projects">
		<div class="form-group">
			<label for="exampleInputEmail1">Project Title</label>
			<input name="title" type="text" class="form-control" id="exampleInputEmail1" placeholder="Project Title">
		</div>
		<div class="form-group">
			<label>Project Description</label>
			<textarea name="description" class="form-control" rows="3" placeholder="Project Description"></textarea>	
		</div>
		<div class="object_container">
			<div class="object_center">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</div>

<div class="col-md-8 col-md-offset-2">
	<table class="table table-hover projects-table">
		<tr>
			<th style="text-align:center">Projects</th>
		</tr>

		{% for project in projects %}
		<tr>
			<td>
				<h4>{{ project.title }}</h4>
		
				<p style="margin:auto"><pre class="project-details">{{ project.description }}</pre></p>
				<p>Posted by: {{ project.users.username }}</p>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% include 'standard/footer.html' %}
