{% include 'standard/header.html' %}

<!-- template thanks to https://gist.github.com/bMinaise / https://gist.github.com/bMinaise/7329874 -->

<div class="login_center">
	<div class="col-md-4 col-md-offset-4">
		<form method="POST" action="/register">
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Email Address</label>
				<input type="email" name="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
			</div>	
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>

{% include 'standard/footer.html' %}
